<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

<bean id = "daoTest" class = "com.yash.pojo.Test">
<property name="traineeName">
<util:list list-class = "java.util.Vector">
<value>Aditi</value>
<value>Anurag</value>
<value>Arju</value>
</util:list>
</property>
<property name="technologies">
<util:set set-class = "java.util.TreeSet">
<value>Core Java</value>
<value>Advance Java</value>
<value>Spring</value>
</util:set>
</property>
<property name="traineeMentor">
<util:map map-class = "java.util.TreeMap">
<entry key = "Aditi" value = "A"/>
<entry key = "Anurag" value = "B"/>
<entry key = "Arju" value = "C"/>
</util:map>
</property>
</bean>
</beans>